# Pandas Assignment.

### 1. Create a data series with marks of students : 75, 80, 79, 60

In [41]:
import pandas as pd
list1=[75,80,79,60]
df=pd.Series(list1)
df

0    75
1    80
2    79
3    60
dtype: int64

### 2. Create a data frame with name of students, id and marks

In [42]:
df=pd.DataFrame({'Name':['Ali','Khan','Wali'],'Id':['FA18','FA19','SA13'],'Marks':[80,54,36]})
df

   Name    Id  Marks
0   Ali  FA18     80
1  Khan  FA19     54
2  Wali  SA13     36

### 3. Now read the file 'data.csv' in panda

In [43]:
df=pd.read_csv('data for panda exercise.csv')
df

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

### 4. What are the columns in the dataframe?

In [45]:
df.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

### 5. Sort the data based on Marks obtained. Fill all the 'na' cells with 0

In [72]:
df.fillna('Total (100)',inplace=True,axis=0)
df.sort_values('Total (100)',axis=0)

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
15,022-14-19916,BS(CS),Haseeb Sajid,18,Total (100),Total (100),0,Total (100),Total (100),0,18,Total (100),18,F
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,Total (100),2,2,8,10,10,21,8,29,F
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,Total (100),6,30,9,39,F
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,7,27,19,46,F
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,Total (100),2,2,23,23,46,F
1,022-14-110233,BS(CS),Adeel Ahmed,17,Total (100),5,5,8,10,10,32,18,50,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11,39,18,57,F
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,Total (100),7,34,23,57,F
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11,40,20,60,C
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,5,8,10,10,31,29,60,C
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9,37,24,61,C
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,Total (100),5,8,10,10,41,21,62,C
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,Total (100),9,41,22,63,C
2,022-14-110585,BS(CS),Afrah Zareen,18,5,2,5,8,10,10,33,30,63,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8,36,29,65,C
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10,43,22,65,C
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,Total (100),6,6,8,8,41,24,65,C
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,Total (100),10,10,38,28,66,C
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10,42,25,67,C
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10,44,23,67,C
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,25,68,C
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,Total (100),9,43,27,70,B
0,022-14-19987,BS(CS),Abdul Basit,28,8,3,8,7,9,9,45,25,70,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11,39,31,70,B
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9,40,31,71,B
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10,45,26,71,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9,37,35,72,B
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,Total (100),9,40,32,72,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10,40,33,73,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,Total (100),10,44,29,73,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,6,8,10,10,44,30,74,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,Total (100),9,45,30,75,B
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,5,Total (100),5,41,35,76,B
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7,6,7,7,9,9,43,34,77,B
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11,44,33,77,B
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,Total (100),9,45,35,80,A
40,022-14-110584,BS(CS),Sharif Taqi,27,9,6,9,8,10,10,46,35,81,A
9,022-14-110599,BS(CS),Arsalan,28,8,6,8,8,Total (100),8,44,40,84,A
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10,44,42,86,A
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10,45,41,86,A
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10,46,45,91,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,Total (100),8,46,45,91,A

### 6. Display the top 10 rows

In [47]:
df.iloc[1:11]

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
1,022-14-110233,BS(CS),Adeel Ahmed,17,Total (100),5,5,8,10,10,32,18,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5,2,5,8,10,10,33,30,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,Total (100),2,2,23,23,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7,6,7,7,9,9,43,34,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,6,8,10,10,44,30,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9,37,24,61,C
9,022-14-110599,BS(CS),Arsalan,28,8,6,8,8,Total (100),8,44,40,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,Total (100),8,46,45,91,A

### 7. Display the last 10 rows

In [48]:
df.iloc[38:48]

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,25,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9,6,9,8,10,10,46,35,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10,44,23,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,Total (100),9,41,22,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,Total (100),9,45,35,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10,43,22,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,7,27,19,46,F

### 8. Display only the odd rows

In [49]:
rng = range(1,len(df), 2)
odd_rows = df.iloc[rng]    
odd_rows    
#Another way 
odd=df.iloc[1::2]
odd

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
1,022-14-110233,BS(CS),Adeel Ahmed,17,Total (100),5,5,8,10,10,32,18,50,F
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,Total (100),2,2,23,23,46,F
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A
9,022-14-110599,BS(CS),Arsalan,28,8,6,8,8,Total (100),8,44,40,84,A
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,5,Total (100),5,41,35,76,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10,42,25,67,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,Total (100),Total (100),0,Total (100),Total (100),0,18,Total (100),18,F
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11,39,31,70,B
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10,46,45,91,A
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11,40,20,60,C
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,Total (100),5,8,10,10,41,21,62,C
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10,45,41,86,A
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10,45,26,71,B
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,Total (100),6,30,9,39,F
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,Total (100),10,44,29,73,B
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,Total (100),10,10,38,28,66,C
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,Total (100),9,45,30,75,B
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,25,68,C
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,Total (100),9,45,35,80,A
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,7,27,19,46,F

### 9. Display only those students who got failed in examination

In [50]:
df[df['Grade'] == 'F']

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
1,022-14-110233,BS(CS),Adeel Ahmed,17,Total (100),5,5,8,10,10,32,18,50,F
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,Total (100),2,2,23,23,46,F
15,022-14-19916,BS(CS),Haseeb Sajid,18,Total (100),Total (100),0,Total (100),Total (100),0,18,Total (100),18,F
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,Total (100),7,34,23,57,F
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11,39,18,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,Total (100),6,30,9,39,F
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,Total (100),2,2,8,10,10,21,8,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,7,27,19,46,F

### 10. Find out the basic statistical info about data

In [51]:
df.describe()

,Mid,Best of Quizzes,Best of Assignments,Total Sessional (50),Total (100)
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,22.937500,7.020833,8.937500,38.895833,66.166667
std,5.236558,1.973113,2.127892,7.179283,15.227821
min,9.000000,0.000000,0.000000,18.000000,18.000000
25%,20.000000,6.000000,8.750000,36.750000,60.000000
50%,25.000000,7.000000,10.000000,41.000000,69.000000
75%,27.000000,9.000000,10.000000,44.000000,75.250000
max,30.000000,9.000000,11.000000,46.000000,91.000000

### 11. How many students got A, B, C, F?

In [73]:
countA=0
countB=0
countC=0
countD=0

for i in range(len(df)):
    if df.Grade[i] == 'A':
        countA+=1
    elif df.Grade[i] == 'B':
        countB+=1
    elif df.Grade[i] == 'C':
        countC+=1
    elif df.Grade[i] == 'F':
        countD+=1
          
print("Number of Student Got A  = ",countA)
print("Number of Student Got B  = ",countB)
print("Number of Student Got C  = ",countC)
print("Number of Student Got D  = ",countD)

Number of Student Got A  =  8
Number of Student Got B  =  16
Number of Student Got C  =  13
Number of Student Got D  =  11

### 12. What are the mean scores for students who got A, B, C, F

In [81]:
sumA=0
l=[]
for i in range(len(df)):
    if df.Grade[i] == 'A':
        l.append(df['Total (100)'][i])
lSum=0
for i in l:
    lSum+=i
lSum//len(l)

85

In [82]:
sumA=0
l=[]
for i in range(len(df)):
    if df.Grade[i] == 'B':
        l.append(df['Total (100)'][i])
lSum=0
for i in l:
    lSum+=i
lSum//len(l)

73

In [83]:
sumA=0
l=[]
for i in range(len(df)):
    if df.Grade[i] == 'C':
        l.append(df['Total (100)'][i])
lSum=0
for i in l:
    lSum+=i
lSum//len(l)

64

In [68]:
sumA=0
l=[]
for i in range(len(df)):
    if df.Grade[i] == 'F':
        l.append(df['Total (100)'][i])
lSum=0
for i in l:
    lSum+=i
lSum//len(l)

44